<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Skill Set</title>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
      integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="/assets/website.js">

    </script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Mega|Special+Elite|Zilla+Slab&display=swap" rel="stylesheet">
  </head>
  <body>
  <% include partials/sideBar.ejs %>
  <div class="mainWrap">
    <div class="about-me">
      Skills
    </div>
    <div class="firstRow">
      <% for(var i = 0;i<3;i++) { %>
        <div class="mySkill col-md-3">
          <%= skills[i].item %>
          <div class="mySkillLevel">
            <%= skills[i].level %>
          </div>
        </div>
      <% } %>
    </div>
    <div class="secondRow">
      <% for(var i = 3;i<6;i++) { %>
        <div class="mySkill col-md-3">
          <%= skills[i].item %>
          <div class="mySkillLevel">
            <%= skills[i].level %>
          </div>
        </div>
      <% } %>

    </div>
    <div class="thirdRow">
      <% for(var i = 6;i<8;i++) { %>
        <div class="mySkill col-md-3">
          <%= skills[i].item %>
          <div class="mySkillLevel">
            <%= skills[i].level %>
          </div>
        </div>
      <% } %>

    </div>
  </div>
  </body>
</html>
